.venv/
__pycache__/
*.pyc
out/
.streamlit/*
!.streamlit/secrets.toml.example
.env
.env.local
.DS_Store
Thumbs.db
.vscode/
build/
dist/
*.spec
app_settings.json
data/wiki/*.html
data/spnkr.db
data/spnkr.db-journal
data/spnkr_gt_JGtm.db
data/spnkr_gt_Madina97294.db
data/spnkr_gt_Chocoboflor.db
data/spnkr_gt_Chocoboflor.db-journal
data/spnkr_JGtm.db
