# Copie ce fichier en .streamlit/secrets.toml (ce dernier est ignoré par Git)
# et remplis tes valeurs locales.

[player]
# Tu peux mettre soit ton gamertag, soit directement ton XUID.
# gamertag = "MonGamertag"
# xuid = "2533..."

# Utilisé pour construire les URLs HaloWaypoint.
# waypoint_player = "MonGamertag"
